@page "/fetchdata"
@using tc.Data;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext DbContext

<h3>Tennis Courts</h3>

@if (venues == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var court in venues)
        {
            <li>@court.Name - @court.Name</li>
        }
    </ul>
}

@code {

    private List<VenueEntity> venues;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            venues = await DbContext.Venues.ToListAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading tennis courts: {ex.Message}");
            throw;
        }
    }
}